%h1.text-center Editing category

.row
  .col-md-6.col-md-offset-2.col-xs-8.col-xs-offset-2
    = render 'form'

  %br

  = link_to 'Show', category
  \|
  = link_to 'Back', categories_path, class: 'btn btn-primary'
