%h1{'class' => 'text-center'} NEW CATEGORY

%br

.row
  .col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2
    = render 'form'

    %br

    or
    \&nbsp;
    = link_to 'Back', categories_path, class: 'btn btn-primary'
