%h1.text-center Editing product

.row
  .col-md-6.col-md-offset-2.col-xs-8.col-xs-offset-2
    = render 'form'

    %br

    = link_to 'Show', category_product_path(category, product)
    \|
    = link_to 'Back', category_path(category)
